@import url('https://fonts.googleapis.com/css?family=Anton|Bubbler+One');

*{
      background-color: #A21515;
      margin:0;
      padding:0;
}


.contaier p {
        font-family: 'Anton', sans-serif;
        color : white;
        font-size: 100px;
        text-align : center;
        padding-top: 100px;
    }
    
    #demo{
        margin-bottom: 0;
    }

.copy{
    background-color: #A21515;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color : white;
    padding-top : 200px;
    margin-top: 0;
}